@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --gray0: #737373;
  --gray1: #262626;
  --gray2: #171717;
  --gray3: #0e0e0e;
  --blue: #1792e3;
}

.bg-gray1 {
  background-color: var(--gray1);
}
.bg-gray2 {
  background-color: var(--gray2);
}
.bg-gray3 {
  background-color: var(--gray3);
}

.col-gray0{
  color: var(--gray0);
}
.col-gray1{
  color: var(--gray1);
}
.col-gray2{
  color: var(--gray2);
}
.col-gray3{
  color: var(--gray3);
}

section{
  min-height: calc(100vh - 64px);
}
body {
  color: rgb(var(--foreground-rgb));
}

#createhub{
  color: var(--blue);
}